<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MP-platform contact me request</title>
  </head>
  <body>
    <br>
      <h2>Hello!</h2>
      <p>Here is someone who wants to contact you</p>
      <p>
        In order to accept and answer the contact, you need first to
        verify it. Please click
        <a target="_blank" href="{{app_domain}}/contacts/addContact/verify?token={{token}}"
          >here</a
        >.
      </p>
      <p>Contact request sent:</p>
      <p>Name: {{name}}</p></br>
      <p>email: {{email}}</p></br>
      <p>Contact request: {{comment}}</p></br>

      <p>Regards</p>
      <p>Mercury-Paws Team</p>
    </section>
  </body>
</html>