<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MP-platform comment verification</title>
  </head>
  <body>
    <br>
      <h2>Hello!</h2>
      <p>
        In order to accept the comment, you need to
        verify it. Please click
        <a target="_blank" href="{{app_domain}}/comments/addComment/verify?token={{token}}"
          >here</a
        >.
      </p>
      <p>Comment posted:</p>
      <p>Name: {{name}}</p></br>
      <p>email: {{email}}</p></br>
      <p>Comment: {{comment}}</p></br>

      <p>Regards</p>
      <p>Mercury-Paws Team</p>
    </section>
  </body>
</html>